old/
outputs/

setup_lambda_h100.sh
setup_lambda_h100_2.sh
setup_lambda_h100_3.sh

# Fichiers Python temporaires
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Fichiers système macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
